.container {
    margin: 0 auto; 
    border: 2px solid green;
    width: 1200px;
    height: 800px;
}

.start_title {
   text-align: center;
   color: blueviolet;
   font-size: 30px;
}

.start_input {
    display: block;
    margin: 0 auto;
    width: 500px;
}
